* {
    font-family: 'Fraunces', serif;
    color: #fff;
}

body {
    margin: 0;
    background: rgb(30, 30, 30);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



#eliminar:hover  {
    background-color: tomato;
}

button:active {
    background-color: #005c45;
}

button:focus {
    outline: none;
}


.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #4e4e4e;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 15px 10px 0px 5px #ffffff33;
}

button {

    margin: 5px;
    padding: 0;
    border-radius: 12px;
    text-align: center;
    font-size: 1.5em;
    border: none;
    background-color: #040404;
    box-shadow: 5px 5px 10px -3px #00000038, -5px -5px 15px 3px #4949493d;
}

.operador{
    background-color: #ff9100;
}

.numero:hover{
    background-color: #ffffff;
    color:black;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #272525;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #0000003b;
}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}
.operador:hover{
    background-color: #321d01;
    color:white;
}

#reset:hover{
    background-color: #f70808cc;
}

.igual:hover{
    background-color: #09cc13e8;
}
.C:hover{
    background-color: #a60505;
}

.col-2 {
    grid-column: span 2;
}
